<div id="frite">
  <nav class="navbar" role="navigation">
    <div class="container-fluid d-flex justify-content-around">
      <a class="navbar-brand" href=<%= root_path %>>
        <%= image_tag "logo_frite.png", alt:"", width:240, height:192 %>
      </a>
      <div class="neon">
        <div class="d-inline-flex p-2 bd-highlight">
          <a class="navbar-all" href= <%= stalls_path %>>
            <button type="button" class="btn btn-outline-dark">Toutes les baraques à frites</button>
          </a>
       </div>
          <a class="navbar-add" href=<%= new_stall_path %>>
            <button type="button" class="btn btn-outline-dark">Ajouter une baraque à frites</button>
          </a>
        </div>

      <h5><%= link_to "Se connecter", new_user_session_path, class: "nav-link" %></h5>
    </div>
  </nav>
</div>
