<div id="frite">
  <nav class="navbar" role="navigation">
    <div class="container-fluid d-flex justify-content-around">
      <a class="navbar-brand" href=<%= root_path %>>
        <%= image_tag "logo_frite.png", alt:"", width:240, height:192 %>
      </a>

      <div class="d-flex flex-column mr-5">
        <div class="accroche">La baraque à frites s'invite chez vous !</div>
        <div class="neon">
          <div class="d-inline-flex p-2 bd-highlight">
            <a class="navbar-all" href= <%= stalls_path %>>
              <button type="button" class="btn btn-outline-dark">Toutes les baraques à frites</button>
            </a>
          </div>

            <a class="navbar-mystalls" href=<%= mystalls_path %>>
              <button type="button" class="btn btn-outline-dark">Mes baraques à frites</button>
            </a>

            <a class="navbar-add" href=<%= new_stall_path %>>
              <button type="button" class="btn btn-outline-dark">Ajouter une baraque à frites</button>
            </a>
        </div>
      </div>
      <div class="connect">
        <p><% if user_signed_in? %>
               <%="Hello #{current_user.first_name} !" %>
           <% else %>
              <%= "Hello t'chio gourmand !" %>
              <%end%></p>
        <% if current_user %>
            <h5><%= link_to "Se déconnecter",  destroy_user_session_path , :method => :delete, class: "nav-link-out" %></h5>
        <% else %>
            <h5><%= link_to "Se connecter", new_user_session_path, class: "nav-link-in" %></h5>
        <% end  %>
      </div>
    </div>
  </nav>
</div>
