<div class="form-add-stalls">
  <%= simple_form_for (@stall) do |f| %>
    <%= f.input :name, label: "Votre entreprise" %>
    <%= f.input :price_per_day, label: "Prix à la location" %>
    <%= f.input :description, label: "Description de votre annonce" %>
    <%= f.input :menu_description, label: "Description de votre menu" %>
    <%= f.input :address, label: "Votre adresse" %>
    <%= f.submit "Valider", class:  " btn-form btn btn-outline-secondary"  %>
  <% end %>
</div>
