
<div class="container">
  <div class="row">
    <div class="col-6 offset-md-3">
      <%= form_tag stalls_path, class: "form-inline pr-4 mt-4", method: :get do %>
        <div class="d-inline-flex p-2 bd-highlight input-group mb-2 mr-sm-2">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control rounded",
            placeholder: "Din quel coin ?"
          %>
        </div>
        <%= submit_tag "Va caire !", class: "btn btn-outline-primary mb-2" %>
      <% end %>
    </div>
  </div>
</div>


<div class="main-container">
   <div class="cards">
     <% @stalls.each do |stall| %>
        <div class="card">
          <% if stall.photo.attached? %>
           <%= cl_image_tag stall.photo.key%>
          <% else  %>
          <img src="https://www.stockvault.net/data/2019/03/20/262656/preview16.jpg">
          <% end %>
           <h2><%= link_to stall.name, stall_path(stall) %></h2>
           <p><%=stall.price_per_day %></p>
           <p><%=stall.description %></p>
        </div>
        <% end %>
    </div>
    <div id="map"
    style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
</div>
