
 <div class="container">
      <div class="row">
        <div class="col-6 offset-md-3">
          <form class='form-inline my-5'>
            <input type="text" class="form-control flex-grow-1 mr-2" placeholder="Entrez une adresse ici">
            <input type="submit" value="Géolocalisation !" class="btn btn-outline-secondary">
          </form>
           <p class='text-monospace lead text-center font-weight-bold'>
            <!-- Display the coordinates here -->
          </p>
        </div>
      </div>
      </div>


<div class="main-container">
   <div class="cards">
     <% @stalls.each do |stall| %>
        <div class="card">
            <img src="https://www.stockvault.net/data/2019/03/20/262656/preview16.jpg">
          <div class="card-text">
            <h2><%= link_to stall.name, stall_path(stall) %></h2>
            <p><%=stall.price_per_day %></p>
            <p><%=stall.description %></p>
          </div>
        </div>
        <% end %>
    </div>
    <div id="map"
    style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
</div>
