<div class="add-stalls">
<h1> Mettez en ligne votre baraque à frites </h1>
<%= simple_form_for (@stall) do |f| %>
   <%= f.input :name, label: "Votre entreprise" %>
 <%= f.input :price_per_day, label: "Prix à la location" %>
 <%= f.input :description, label: "Description de votre annonce" %>
 <%= f.input :menu_description, label: "Description de votre menu" %>
  <%= f.submit "Valider", class: "btn btn-outline-secondary" %>
<% end %>
</div>